﻿@using MsParfum.Entity;
@{
    ViewBag.Title = "Anasayfa";
}



<div class="container">
    @foreach (var urun in Model)
    {
        <div class="col-xs-4 " >
            <article class="col-item">
                <div class="product-img">
                    <a href="#"> <img src="~/Content/images/product01.png" class="img-responsive" alt="Product Image"> </a>
                </div>
                <div class="info">
                    <div class="row">
                        <div class="price-details col-md-6">
                            <div class="product-description">
                                @urun.Aciklama
                            </div>
                            <p class="product-name">@urun.Adi</p>
                            <p class="product-price">$@urun.Fiyat</p>
                        </div>
                    </div>
                </div>
            </article>
        </div>
    }
</div>


   

